/*	Rueben Anderson
	05/30/2012
	ASD 1206
*/

body {
	font-size: 100%;
}

img {
	max-height: 100%;
	max-width: 100%;
}

h2 {
	color: #6FA0B7;
}

	/* General anchor links */
a {
	color: #316CBF;
	text-decoration: none;
}

#homeLink {
	color: #fff;
}

	/* Formatting for the input hints */
p.inputHints {
	margin-top: 0.0625em;
	margin-bottom: 0.3125em;
	margin-left: 0.3125em;
	font-size: 0.75em;
	font-style: italic;
	color: #7F7F7F;
}

	/* Centers the CTA */
img#branding {
	margin-top: 0%;
	display: block;
	margin: 0 auto;
	
}

	/* All UL & LI elements */
ul, li {
	list-style: none;
}


div#routines > ul {
	padding: 0%;
	margin: auto 0.625em 0.625em;
}
	
	/* Get data images */
img.dataImage {
	margin: inherit auto 0.625em auto;
	display: block;
	border-width: 0.125em;
	border-style: solid;
	border-radius: 0.3125em;
	border-color: #3eafe3;
	
}

.ui-body-d {
	background-color: #FFF;
	background: url("../images/project4_bg.jpg") repeat-x fixed 0 0 #FFF;
	-webkit-background-size: length_y;
	-moz-background-size: length_y;
	background-attachment: fixed;
}

	/* Search field above CTA */
input#searchField {
	height: 1.25em;
	width: 14.375em;
	border-radius: 0.3125em 0em 0em 0.3125em;
	border-color: #3eafe3;
}

	/* Span element containing the search field and go button */
span#searchGroup {
	margin: 0em 0em 0em 0.3125em;
}

#searchGroup > div {
	margin: 0em 13.125em;
}

@media screen and (max-device-width: 480px) {
	#searchGroup > div {
		margin: auto;
	}
}

div > h2 {
	margin-bottom: 0.3125em;
}

.js_errors {
	color: #990000;	
	font-size: 0.8125em;
	font-style: italic;
	display: none;
}

.compBrand {
	height: 1.5625em;
	width: auto;
	border-radius: 0.3125em;
	margin-bottom: 0.9375em;
	margin-top: -0.625em;
}

/* removes the black border around the buttons */
div.ui-btn-up-b, div.ui-btn-up-d {
	border: 0px none transparent;
}

/* jQuery error messages */
.error {
	color: #990000;
	margin-left: 0.3125em;
}

/* Routine Frequency error message */
li > label.error {
	position: absolute;
	left: 5.9375em;
}

div#listForm {
	margin-top: 3.125em;
	display: none;
}

div#dataFormatDiv {
	margin-bottom: 2.1875em;
	font-size: smaller;
}

div#body {
	margin-bottom: 3.125em;
}

ul.exerciseTypes span.ui-btn-text {
	color: #2A2A2A;
}